@import '../global/variables';
@import '../global/mixins';

#Header { 
  nav.navbar.navbar-default {
    background-color: $blue !important;
    margin-bottom: 0 !important;
    border: none;
    border-radius: 0;
    .container {
      width: 100%;
      margin-top: 12px;
      .navbar-brand {
        margin-left:24px;
        max-width: 200px;
        height: auto;
      }
      .navbar-collapse {
        padding:24px 48px;
        position: relative;
        z-index: 32767;
        .navbar-right {
          a,li{
            color: $white;
            &:hover{background:$turquoise;}
          }
          li[role="presentation"]{
            margin-right:48px;
          }
          #nav-dropdown {
            border: 1px solid $white;
            border-radius: 4px;
            padding: 16px 34px 14px 34px;
            color: $white;
            background: $blue;
            color: $white;
            &:hover{background:$turquoise;}
            span.caret {
              margin-left: 24px;
              border-top: 8px dashed;
              border-right: 8px solid transparent;
              border-left: 8px solid transparent;
            }
          }
          .dropdown-menu {
            background: $blue;
            li[role="presentation"]{
              margin-right: initial;
              padding: 8px 4px;
            }
            .langFlagIcon {
              width: 50px;
              height: auto;
              margin-right: 8px;
            }
            // &:hover{background:$turquoise;}
          }
        }
        

    }
  }
}
}